<% if @label.errors.any? %>  <div id="error_explanation">
   <div id="error_explanation">
    <b><%= pluralize(@label.errors.count, "error") %> prohibited this client from being saved:<b>
    <ul>
    <% @label.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= twitter_bootstrap_form_for(@label) do |f| %>
	<%=f.inputs 'Label', :class => 'Label' do %>
    <%= f.text_field :name %>
    <%= f.text_area :description %><br />
    <%= f.select 'label_type', 'Label Type', @label.label_types, :input_html => { :include_blank => false }  %>
	<% end %>
	<%= f.actions do %>
    <%= f.submit %>
	<% end %>
<% end %>

