<table class="zebra-striped" class="bordered-table" class='condensed-table'>
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Type</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
		<% @labels.each do |label| %>
		  <tr>
		    <td><%= label.name %></td>
		    <td><%= label.description %></td>
		    <td><%= label.label_type %></td>
		    <td><%= link_to 'Details', label %>
		    		<%= link_to 'Edit', edit_label_path(label) %>
		    		<%= link_to 'Destroy', label, confirm: 'Are you sure?', method: :delete %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Label', new_label_path %>

