You should have read this in <%=link_to 'Getting Started', :controller => 'whatelse', :action => 'get_started' %>, but still...

<div class="alert-message block-message">
	<h5>What do you do with the email & password I provide?	<span class="label important">Important</span></h5><br/>
	The email & password you provide are <b>NOT</b> encrypted (not through transmission, nor in the session data) and exposed in the logs. We therefore <b>strongly recommend</b> that you create a dummy user in the network where you will be uploading the data, specific for this task, and <b>deactivate that user</b> once your uploading is complete. As you already know, <b>you MUST NOT provide your Google ldap and password for this kind of operation.</b> 

</div>

<%= twitter_bootstrap_form_for :user do |f| %>
	<%= f.inputs do %>
		<%= f.text_field :email, :size => 50, :placeholder => 'Your dfp API account email' %>
	  <%= f.text_field :password, :columns => 50, :placeholder => 'We do NOT encrypt or save your password.' %>
		<%= f.text_field :network_id, :size => 10 %>
    <%= f.select 'environment', 'Environment',
							 ['SANDBOX', 'PRODUCTION'],
				   		 :input_html => { :include_blank => false } %>

		<% if @kaya_local %>
	    <%= f.toggles do %>
				<%= f.check_box :local_test, 'Kaya\'s local tests. Does NOT connect to API. Only local imports', :checked_value => true, :unchecked_value => false %>
			<% end %>
		<% end %>		
				
	<% end %>
	<%= f.actions do%>
  	<%= f.submit "Submit Login Data", :class => 'btn primary' %>
	<% end %>
<% end %>