<table class="zebra-striped" class="bordered-table" class="condensed-table">
	<thead>
	  <tr>
	    <th>Email</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		  <tr>
		    <td><%= user.email %></td>
		    <td><%= link_to 'Details', user %>
		    		<%= link_to 'Edit', edit_user_path(user) %>
		    		<%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New User', new_user_path %>
