<p>Welcome to <b>Ditto</b>'s Ruby on Rails application version. This development is a joint effort of Kaya Aykut (<a href='mailto:kaya@google.com'>kaya@google.com</a>) and Felipe Plata (<a href='mailto:feli@google.com'>feli@google.com</a>). Special thanks to our manager <a href='mailto:pmitride@google.com'>Pascal Mitride</a> for supporting us throughout the development process.</p>

<p>The main objective of this tool is to facilitate the mass creation of Master Data in DFP Premium networks and save time for both consultants and clients, mainly in new biz implementations, or clients migrating to fresh networks. 
	
<h3>PLEASE READ THE ENTIRETY OF THIS PAGE IF YOU'RE GOING TO USE THE TOOL.</h3>

<% i = 1 %>

<h4>Content</h4>
<ol>
	<li><a href=#<%=i%>>What can this thing do?</a></li><% i+=1 %>
	<li><a href=#<%=i%>>	Why the download? Was not Ditto a bulk uploader?</a></li><% i+=1 %>
	<li><a href=#<%=i%>>How do I start?</a></li><% i+=1 %>
	<li><a href=#<%=i%>>What is the general logic & workflow?</a></li><% i+=1 %>
	<li><a href=#<%=i%>>Do I need to divide my data into batches?</a><% i+=1 %>
	<li><a href=#<%=i%>>How do you validate the data?</a></li><% i+=1 %>
	<li><a href=#<%=i%>>What happens if an error occurs?</a></li><% i+=1 %>
	<li><a href=#<%=i%>>What do you do with the email & password I provide?</a></li><% i+=1 %>
	<li><a href=#<%=i%>>Can many consultants working on multiple networks use DITTO at the same time?</a></li><% i+=1 %>
	<li><a href=#<%=i%>>What is the file format? Is there a .csv template for uploads?</a></li><% i+=1 %>
	<li><a href=#<%=i%>>Does encoding matter?</a></li><% i+=1 %>
	<li><a href=#<%=i%>>What is the format of the columns? What are the separator characters?</a></li><% i+=1 %>
	<li><a href=#<%=i%>>What are you planning to develop next? Do you accept feature requests?</a></li><% i+=1 %>
	<li><a href=#<%=i%>>I wanna get involved!!!</a></li><% i+=1 %>
</ol>	
	
<% i = 1 %>

<p>
	<h4><a name=<%=i%> id=<%=i%>>What can this thing do?</a></h4>
	This application allows you to:
	<ul>
		<li>Upload & Import Master Data to DFP Premium through a .csv file.</li>
		<li>Download all the elements of certain Master Data types (e.g. Company, Ad Unit, Label) <strong>from DFP Premium to Local DB.</strong></li>
		<li>Download all the elements of certain Master Data types (e.g. Company, Ad Unit, Label) <strong>from Local to a .csv file.</strong></li>
	</ul>
</p>

<% i += 1 %>

<p>
	<h4><a name=<%=i%> id=<%=i%>>Why the download? Was not Ditto a bulk <b>uploader</b>?</a></h4>
	For one reason: We thought you might need a list of objects that is already in the network in a .csv file. <br/><br/>
	<b>IMPORTANT: You do not need to download the data to local first in order to upload your data. Uploading first syncs the data in DFP to local DB automatically.</b>
</p>

<% i += 1 %>


<p>
	<h4><a name=<%=i%> id=<%=i%>>How do I start?</a></h4>
	Start by providing Login Data. The login data is authenticated with DFP immediately, so you will have to provide authentic login details. <b>MAKE SURE YOU READ 'What do you do with the email & password I provide?' section below.
</p>

<% i += 1 %>


<p>
	<h4><a name=<%=i%> id=<%=i%>>What is the general logic & workflow?</a></h4>
	For each object type, you directly upload the .csv file to DITTO, which in turn 
	<ol>
		<li>Downloads the objects of that data type to local DB.</li>
		<li>Validates & imports the content of your .csv into local database.</li>
		<li>Uploads the data into DFP Premium.</li>
	</ol>
	Some points to keep in mind: 
	<ul>
		<li>You also have the option to delete all the data of each type in the Local DB and start over.</li>
		<li>Each upload you made, results up to 3 files:
			<ol>
				<li>Errors file: if the import to local database was not successful (e.g. you had illegal characters in a AU name, or a child ad unit was on a line before its parent in the .csv), an Errors file is generated. The row where the error is located will be added a column with an 'X', and the error message, so that you can identify the erroneous lines in an Excel and make corrections.</li>
				<li>Created file: All the objects that are successfully pushed to DFP will be in this .csv.</li>
				<li>Not Created file: All the objects that are successfully pushed to DFP will be in this .csv.</li>
			</ol>
			So if for example you uploaded a .csv with AUs of levels 1 2 3 4 5, they were all successfully imported to local DB, and there was an error in the creation of an Ad Unit level 4 in DFP: 
			<ol>
				<li>Errors file: will be absent as the import to local DB was successful.</li>
				<li>Created file: AUs of levels 1 2 3 will be in this .csv.</li>
				<li>Not Created file: AUs of levels 4 5 will be in this .csv.</li>				 
			</ol>
		</li>
	</ul>
</p>

<% i += 1 %>

<p>
	<h4><a name=<%=i%> id=<%=i%>>What is the general logic & workflow?</a></h4>
	No you do NOT. Not even for Ad Units? Nope, not even for ad units (you need to make sure that a parent is placed before a child for Ad Units though). This has been tested with a 2000 AU upload and seems to work. But if you do get a time out, you are free to divide into batches. 
</p>

<% i += 1 %>

<p>
	<h4><a name=<%=i%> id=<%=i%>>How do you validate the data?</a></h4>
	All data that is uploaded is validated 
	<ul>
		<li>according to <a href='http://code.google.com/apis/dfp/'> DFP API specifications</a> for each object type.</li>
		<li>against other instances of the same type that exists in the local DB, for name uniqueness rules etc.</li>
	</ul>
</p>

<% i += 1 %>

<p>
	<h4><a name=<%=i%> id=<%=i%>>What happens if an error occurs?</a></h4>
	There might be 2 types of errors due to the 2-step nature of the process: 
	<ol>
		<li>Error during import to local DB: In this case you can download the "Errors" file, which will show you the erroneous lines and the error message, so that you can correct and re-upload.</li>
		<li>Error during upload to DFP: In this case, depending on whether a part of your data uploaded correctly to DFP or not (this can happen in Ad Units, as AUs of different levels are uploaded in different batches), you will find the "Created" and "Not Created" files, that will contain the respective data.</li> 
	</ol>
	Please see the "What is the general logic & workflow" section above for details.
</p>

<% i += 1 %>

<p>
	<h4><a name=<%=i%> id=<%=i%>>What do you do with the email & password I provide?</a>  <span class="label important">Important</span></h4>
	The email & password you provide are <b>NOT</b> encrypted (not through transmission, nor in the session data) and exposed in the logs. We therefore <b>strongly recommend</b> that you create a dummy user in the network where you will be uploading the data, specific for this task, and <b>deactivate that user</b> once your uploading is complete. As you already know, you <b>MUST NOT</b> provide your Google ldap and password for this kind of operation. 
</p>

<% i += 1 %>

<p>
	<h4><a name=<%=i%> id=<%=i%>>Can many consultants working on multiple networks use DITTO at the same time?</a>  <span class="label important">Important</span></h4>
	Yes, although with some caveats: 
	<ul>
		<li>The application is deployed on a VM machine (Ganeti) with 512 MB of RAM and a single core. It is not the fastest machine on Earth.</li>
		<li>It runs on a very rudimentary server (WEBrick) and database (SQLite).</li>
		<li>The server can only process 1 HTTP request at a time.</li>
	</ul>
</p>

<% i += 1 %>

<p>
	<h4><a name=<%=i%> id=<%=i%>>What is the file format? Is there a .csv template for uploads?</a><span class="label important">Important</span> </h4>
	Yes, you can download a .zip bundle of ,csv's with columns headers <%=link_to 'here', 'whatelse/download' %></a>. See below points for the syntaxis of the values and more details.<br/><br/>
	Respecting the file format (Especially Column Separators) is a must, as Ditto is not able to guess & detect variations in the file format.</strong>
</p>

<% i += 1 %>

<p>
	<h4><a name=<%=i%> id=<%=i%>>Does encoding matter?</a></h4>
	YES. The file needs to be saved in <strong>UTF-8 Encoding</strong>. Any other encoding types might give you an error.</li> You can use several text editors to save your file in UTF-8. Textmate on Mac is an example. 
</p>

<% i += 1 %>

<p>
	<h4><a name=<%=i%> id=<%=i%>>What is the format of the columns? What are the separator characters?</a></h4>
	<ul>

		<p><strong>Column Separators</strong></p>

		<li>The column separator is ','. </li>
		<li>For columns that contain multiple items (such as labels assigned to a Company, or sizes assigned to an Ad Unit) the separator between the items is ';'. Such columns should not be put in between quotes. i.e. you should <strong>not</strong> have "728x90;300x250", but simply 728x90;300x250 as the columns value. </li>
		<li> The separator between the video master and Video companion sizes is | (pipe).</li>


		<br/><p><strong>Ad Unit Sizes</strong></p>
			Ad Unit sizes & companions are defined in the    <b>[T]'width'x'height'</b>     format, where 'T' is optional, defines the Type, and can have 2 values:
			<ul> 
				<li>'V' for Video Sizes. Note that the separator between the video size and its companions is <strong>| (pipe character)</strong></li>
				<li>'A' for Aspect Ratio sizes. Note that the separator between height & width do <strong>NOT</strong> change as opposed to DFP Premium.</li>
			</ul>
			So here are some example sizes: 
			<ul>
				<li>AdUnit with 3 regular display sizes: <strong>300x250;728x90;180x600<strong></li>
				<li>AdUnit with 2 regular and 1 Aspect Ratio size: <strong>300x250;728x90;A3x2</strong></li>
				<li>AdUnit with 2 Video Sizes, each with 2 companion sizes: <strong>V400x300|300x250|728x90;V640x480|900x60|180x600</strong></li>
				<li>AdUnit with 1 Video size with 1 companion, 1 Aspect Ratio and 2 regular display sizes: <strong>V640x480|300x250;A4x1;300x250;728x90</strong></li>
			</ul>

		<br/><p><strong>Miscellaneous (still important!)</strong></p>
		<li>The starting and trailing spaces in names are ignored.</li>
		<li>For boolean attributes of entities, use values 'true' or 'false'.</li>
		<li>Labels applied to a company are listed by name, as there might olnly be one filter with a given name and type = 'COMPETITIVE_EXCLUSION'.</li>
		<li>In the Ad Unit upload .csv file, you need to precise the entire hierarchy of the parents for Ad Units of any level. i.e. for an Ad Unit of level 4, the first 4 columns of the .csv need to have values.</li>
		<li>In the Ad Unit upload, you need to make sure that the parent of an AdUnit is always on a previous line than the child. e.g. If you have an top level Ad Unit 'Reviews', and its child 'PhoneReviews', 'Reviews' should preceed 'PhoneReviews' in the csv file.</li>
		<li>Use the 'The file has a header row.' option carefully as well. Checking that box for a file without header will cause skipping the 1st line (=> errors), and vice versa will try to create a data from the header (=> errors). </li>
		<li>Here's a list of the restricted values:'
			<ul>
				<li>AdUnit  - Target Windows:		 'TOP', 'BLANK'</li>
				<li>AdUnit  - Target Platforms:  'WEB', 'MOBILE'</li>
				<li>Company - Types: 						 'ADVERTISER', 'AGENCY', 'HOUSE_ADVERTISER', 'HOUSE_AGENCY', 'AD_NETWORK'</li>
				<li>Company - Credit Status: 		 'ACTIVE','ON_HOLD', 'CREDIT_STOP', 'INACTIVE', 'BLOCKED'</li>
				<li>Label   - Types: 						 'COMPETITIVE_EXCLUSION', 'AD_UNIT_FREQUENCY_CAP'</li>
			</ul>
		</li>
	</ul>
</p>

<% i += 1 %>

<p>
	<h4><a name=<%=i%> id=<%=i%>>What are you planning to develop next? Do you accept feature requests?</a></h4>
		Custom Targeting Criteria, Orders and Line Items (although the last 2 will rather be Order & LI shells, without the support for targeting criteria or delivery options) are on the radar. After that, any suggestions are very welcome.<br/>Please keep in mind that we are just another 2 busy consultants in the middle of Tier 0 client upgrade :-).
</p>

<% i += 1 %>

<p>
	<h4><a name=<%=i%> id=<%=i%>>I wanna get involved!!!</a></h4>
	You're <b>SO</b> welcome to contribute. Basically you can:
	<ul>
		<li>Download the code from <a href='https://github.com/kaykut/bulkUploader'>github</a> and start working on it by yourself. Port it the way you want :-)</li>
		<li>Get in touch with us to see if we have a pipeline of features waiting for development.</li>
	</ul>
</p>

<p><h4>Happy Ditto'ing!!!</h4></p>

<br/><br/><br/><br/><br/>
