<%= form_for(@ad_unit) do |f| %>
  <% if @ad_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad_unit.errors.count, "error") %> prohibited this ad_unit from being saved:</h2>

      <ul>
      <% @ad_unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :DFP_id %><br />
    <%= f.text_field :DFP_id %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :target_window %><br />
    <%= f.text_field :target_window %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :explicitly_targeted %><br />
    <%= f.check_box :explicitly_targeted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
