<%= render 'layouts/action_bar'%>
<table class="zebra-striped bordered-table condensed-table">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Parent</th>
	    <th>Explicitly targeted</th>
			<th>Synced?</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
<% @ad_units.each do |ad_unit| %>
  <tr>
    <td><%= ad_unit.name %></td>
    <td><%= ad_unit.parent.name unless ad_unit.parent.blank? %></td>
    <td><%= ad_unit.explicitly_targeted %></td>
		<td><%= ad_unit.dfp_id.blank? ? "No" : "Yes"%>
    <td><%= link_to 'Show', ad_unit %>
    		<%= link_to 'Edit', edit_ad_unit_path(ad_unit) %>
		    <%= link_to 'Destroy', ad_unit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>