<p id="notice"><%= notice %></p>

<% (@ad_unit.level - 1).times do |i| %>
	<p>
	  <b>Parent of level <%= %{ i+1 } %>:</b>
	  <%= @ad_unit.get_parent_of_level(i+1, 'name') %>
	</p>
<% end %>

<p>
  <b>Name:</b>
  <%= @ad_unit.name %>
</p>

<p>
	<b>Sizes:</b>
	<%= @ad_unit.ad_unit_sizes_list %>
</p>

<p>
  <b>Target window:</b>
  <%= @ad_unit.target_window %>
</p>

<p>
  <b>Explicitly targeted:</b>
  <%= @ad_unit.explicitly_targeted ? 'YES' : 'NO' %>
</p>

<p>
  <b>Description:</b>
  <%= @ad_unit.description %>
</p>


<%= link_to 'Back', ad_units_path %>
