<%= render 'layouts/action_bar'%>

<table class="zebra-striped bordered-table super-condensed-table"> 
  <thead>
		<tr>
	    <th>Name</th>
	    <th>Type</th>
	    <th>Labels</th>
	    <th>Uploaded to DFP?</th>
	    <th></th>
		</tr>
  </thead>
	<tbody>
		<% @companies.each do |company| %>
		  <tr>
		    <td><%= company.name %></td>
		    <td><%= company.company_type %></td>
			<td><%= company.label_list%></td>
		    <td><%= company.dfp_id.blank? ? "No" : "Yes" %></td>	
		    <td><%= link_to 'Details', company %></td>
		  </tr>
		<% end %>
	</tbody>
</table>