<%= render 'layouts/action_bar'%>
<div class="alert-message block_message warning">
	<p>As <strong>Companies</strong> might have <strong>Labels</strong> assigned please <strong>make sure</strong>:</p><br/>
	<ul>
		<li>DOWNLOAD Labels from DFP, <strong>BEFORE downloading Companies from DFP</strong></li>
		<li>UPLOAD any Labels you have to DFP, <strong>BEFORE uploading Companies to DFP</strong></li>
	</ul>
</div>

<table class="zebra-striped bordered-table super-condensed-table"> 
  <thead>
		<tr>
	    <th>Name</th>
	    <th>Type</th>
	    <th>Labels</th>
	    <th>Uploaded to DFP?</th>
	    <th></th>
		</tr>
  </thead>
	<tbody>
		<% @companies.each do |company| %>
		  <tr>
		    <td><%= company.name %></td>
		    <td><%= company.company_type %></td>
			<td><%= company.label_list%></td>
		    <td><%= company.dfp_id.blank? ? "No" : "Yes" %></td>	
		    <td><%= link_to 'Details', company_path %></td>
		  </tr>
		<% end %>
	</tbody>
</table>