<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Type:</b>
  <%= @company.company_type %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p>
  <b>Faxphone:</b>
  <%= @company.fax_phone %>
</p>

<p>
  <b>Primaryphone:</b>
  <%= @company.primary_phone %>
</p>

<p>
  <b>Externalid:</b>
  <%= @company.external_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @company.comment %>
</p>

<p>
  <b>Enablesameadvertisercompetitiveexclusion:</b>
  <%= @company.enable_same_advertiser_competitive_exclusion %>
</p>

<p>
	<b>Labels:</b>
	<%= @company.label_list %>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

