<%= twitter_bootstrap_form_for(@upload, :html => { :multipart => true }) do |f| %>
	<% @upload.errors.each do |error| %>
		<div class="alert-message success">
    	<p><%= error.message %></p>
  	</div>	
	<% end %>
	<%= f.inputs 'Upload', :class=> 'Upload' do %>
    <%= f.text_field :name, :placeholder => 'An identifier for remembering later.' %>
    <%= f.select 'datatype', 'Datatype', ['Labels', 'Companies', 'AdUnits'], :input_html => { :include_blank => false } %>
    <%= f.file_field :file, :input_html => { :class => 'input-file' } %>
    <%= f.toggles do %>
			<%= f.check_box :has_header, 'The file has a header row.', :checked_value => true, :unchecked_value => false %>
		<% end %>
	<% end %>	 
	<%= f.actions do %>
    <%= f.submit 'Upload & Import to DFP' %>
	<% end %>
  
<% end %>
