<%= simple_form_for(@upload, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name, :input_html => { :class => 'field' } %>
    <%= f.input :datatype, :collection => ['Labels', 'Companies'],  :input_html => { :class => 'field', :include_blank => false } %>
    <label>File</label> 
    <%= f.file_field :file, :input_html => { :class => 'input-file' } %>
    <%= f.input :overwrite, :input_html => { :class => 'field' } %>
  </div>

  <div class="actions">
    <%= f.button :submit, :class => 'btn primary' %>
  </div>
  
<% end %>
