<%= render 'layouts/action_bar'%>

<table class="zebra-striped bordered-table super-condensed-table">
  <thead>
		<tr>
    	<th>Name (Identifier)</th>
	    <th>File Name</th>
	    <th>Data Type</th>
	    <th>Uploaded At</th>
	    <th>Status</th>
	    <th>Download (non-link <=> no such file)</th>
			<th></th>
		</tr>
  </thead>

	<tbody>
		<% @uploads.each do |upload| %>
		  <tr>
		    <td><%= upload.name %></td>
		    <td><%= upload.filename %></td>
		    <td><%= upload.datatype %></td>
		    <td><%= upload.created_at.to_s(:long) %></td>
		    <td><%= upload.status %></td>
		    <td>
					<% if not upload.errors_file.blank? %>
		      	<%= link_to 'Errors', { :controller => 'uploads', 
                                    :action => 'download_errors', 
                                    :id => upload } %>  |  
					<% else %>
						<%='Errors  |  '%>
					<% end %>
					<% if not upload.created_file.blank? %>
		      	<%= link_to 'Created', { :controller => 'uploads', 
	                                   :action => 'download_created', 
	                                   :id => upload } %>  |  
					<% else %>
						<%='Created  |  '%>
					<% end %> 
					<% if not upload.not_created_file.blank? %>
		      	<%= link_to 'Not Created', { :controller => 'uploads', 
			                                   :action => 'download_not_created', 
			                                   :id => upload } %>
					<% else %>
						<%='Not Created'%>
					<% end %>
				</td>
				<td><%= link_to 'Delete', upload, :confirm => 'Are you sure?', :method => :delete %></td>
				
		  </tr>
		<% end %>
	</tbody>
</table>