<h1>Listing uploads</h1>

<table class="zebra-striped">
  <thead>
    <th>Name</th>
    <th>File Name</th>
    <th>Data Type</th>
    <th>Uploaded At</th>
    <th>Status</th>
    <th>Download Errors</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @uploads.each do |upload| %>
  <tr>
    <td><%= upload.name %></td>
    <td><%= upload.filename %></td>
    <td><%= upload.datatype %></td>
    <td><%= upload.created_at.to_s(:long) %></td>
    <td><%= upload.status %></td>
    <td><% if upload.status == 'Erroneous' %>
      <%= link_to 'Errors File', { :controller => 'uploads', 
                                   :action => 'download', 
                                   :id => upload } %>
    <% end %> </td>    
    <td><%= link_to 'Destroy', upload, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Upload', new_upload_path %>
