<div>
  <ul class="tabs">

    <% if @current_controller == "uploads" %>
      <li class='active'><%= link_to "Uploads", {:controller => 'uploads', :action => 'index'} %></li>
    <%else%>
      <li><%= link_to "Uploads", {:controller => 'uploads', :action => 'index'} %></li>
    <%end%>

    <% if @current_controller == "labels" %>
      <li class='active'><%= link_to "Labels", {:controller => 'labels', :action => 'index'} %></li>
    <%else%>
      <li><%= link_to "Labels", {:controller => 'labels', :action => 'index'} %></li>
    <%end%>

    <% if @current_controller == "companies" %>
      <li class='active'><%= link_to "Companies", {:controller => 'companies', :action => 'index'} %></li>
    <%else%>
      <li><%= link_to "Companies", {:controller => 'companies', :action => 'index'} %></li>
    <%end%>

    <% if @current_controller == "users" %>
      <li class='active'><%= link_to "Login Data", {:controller => 'users', :action =>'login'} %></li>
    <%else%>
      <li><%= link_to "Login Data", {:controller => 'users', :action => 'login'} %></li>
    <%end%>

		<% unless session[:user].nil? %>
			<li> <%= session[:user][:email] + ' - ' + session[:user][:network].to_s %> </li>
		<% end %>

  </ul>
</div>

