<div>
  <ul class="tabs">
    <% if @current_controller == "whatelse" and @current_action != 'error' %>
      <li class='active'><%= link_to "Getting Started", {:controller => 'whatelse', :action => 'get_started'} %></li>
    <%else%>
      <li><%= link_to "Getting Started", {:controller => 'whatelse', :action => 'get_started'} %></li>
    <%end%>
		
    <% if @current_controller == "uploads" %>
      <li class='active'><%= link_to "Uploads", {:controller => 'uploads', :action => 'index'} %></li>
    <%else%>
      <li><%= link_to "Uploads", {:controller => 'uploads', :action => 'index'} %></li>
    <%end%>

    <% if @current_controller == "ad_units" %>
      <li class='active'><%= link_to "Ad Units", {:controller => 'ad_units', :action => 'index'} %></li>
    <%else%>
      <li><%= link_to "Ad Units", {:controller => 'ad_units', :action => 'index'} %></li>
    <%end%>

    <% if @current_controller == "labels" %>
      <li class='active'><%= link_to "Labels", {:controller => 'labels', :action => 'index'} %></li>
    <%else%>
      <li><%= link_to "Labels", {:controller => 'labels', :action => 'index'} %></li>
    <%end%>

    <% if @current_controller == "companies" %>
      <li class='active'><%= link_to "Companies", {:controller => 'companies', :action => 'index'} %></li>
    <%else%>
      <li><%= link_to "Companies", {:controller => 'companies', :action => 'index'} %></li>
    <%end%>

    <% if @current_controller == "line_items" %>
      <li class='active'><%= link_to "Line Items", {:controller => 'line_items', :action => 'index'} %></li>
    <%else%>
      <li><%= link_to "Line Items", {:controller => 'line_items', :action => 'index'} %></li>
    <%end%>

    <% if @current_controller == "orders" %>
      <li class='active'><%= link_to "Orders", {:controller => 'orders', :action => 'index'} %></li>
    <%else%>
      <li><%= link_to "Orders", {:controller => 'orders', :action => 'index'} %></li>
    <%end%>

		<% sd = session[:user].nil? ? 'NONE' : session[:user][:email] + ' - ' + session[:user][:network_id].to_s %>
    <% if @current_controller == "users" %>
      <li class='active'><%= link_to "Login Data: #{sd}", {:controller => 'users', :action =>'login'} %></li>
    <%else%>
      <li><%= link_to "Login Data: #{sd}", {:controller => 'users', :action => 'login'} %></li>
    <%end%>

  </ul>
</div>

