<!DOCTYPE html>
<html>
<head>
  <title>BulkUploader</title>
<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css"%>
  <%= javascript_include_tag "application" %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "rails.validations" %>
  <%= csrf_meta_tags %>

</head>
<body style='padding-top:50px'>
	<div class='container'>
		<div id='header'>
			<%= render '/layouts/tabbar' %>
		<div>
			
		<% if not flash[:success].blank?%>
			<div class="alert-message success">
	    <a class="close" href="#">×</a>
	    <p><%= flash[:success] %></p>
	  </div>
		<% end %>
		<% if not flash[:error].blank?%>
			<div class="alert-message error">
	    <a class="close" href="#">×</a>
	    <p><%= flash[:error] %></p>
	  </div>
		<% end %>
		<% if not flash[:notice].blank?%>
			<div class="alert-message warning">
	    <a class="close" href="#">×</a>
	    <p><%= flash[:notice] %></p>
	  </div>
		<% end %>

		<%= yield %>
		
	</div>
		
</body>
</html>
