<!DOCTYPE html>
<html>
<head>
  	<title>DITTO for DFP Premium</title>
	<%= stylesheet_link_tag "bootstrap.css" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "rails.validations" %>
	<%= csrf_meta_tags %>
</head>
<body style='padding-top:50px'>
	<div class='container'>
		<h1>DITTO for DFP Premium</h1>
		<div id='header'>
			<%= render '/layouts/tabbar' %>
		<div>
			
		<% if not flash[:info].blank?%>
			<div class="alert-message block-message info">
	    <p><%= flash[:info] %></p>
	  </div>
		<% end %>
		<% if not flash[:success].blank?%>
			<div class="alert-message block-message success">
	    <p><%= flash[:success] %></p>
	  </div>
		<% end %>
		<% if not flash[:error].blank?%>
			<div class="alert-message block-message error">
	    <p><%= flash[:error] %></p>
	  </div>
		<% end %>
		<% if not flash[:notice].blank?%>
			<div class="alert-message block-message warning">
	    <p><%= flash[:notice] %></p>
	  </div>
		<% end %>

		<%= yield %>
		
	</div>
		
</body>
</html>
